{% extends 'MainInfo/main_info.html' %} {% load staticfiles %} {% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="../">Личные сведения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../experience/">Опыт работы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active disabled" href="../education/">Образование</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../feedback/">Обратная связь</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{% static "img/fa.jpg" %}" alt="FA">
            </div>
        </div>
        <div class="col-md-8">
            <h3>Образование</h3>
            <p>В 2016 году получил высшее образование (бакалавр), окончив Финансовый университет при Правительстве Российской Федерации г. Москва по специальности "Прикладная информатика"</p>
            <p>Кафедра: Прикладная информатика и информационные технологии</p>
            <p>Направление подготовки: Прикладная информатика в экономике</p>
        </div>
    </div>
</div>
{% endblock content %}