{% extends 'MainInfo/main_info.html' %} {% load bootstrap %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="../">Личные сведения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../experience/">Опыт работы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../education/">Образование</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active disabled" href="../feedback/">Обратная связь</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <h3>Контактные данные:</h3>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-phone-square" aria-hidden="true"> +7(985)347-25-62</i></li>
                <li class="list-group-item"><i class="fa fa-envelope" aria-hidden="true"> 79danil@gmail.com</i></li>
            </ul>
        </div>
        <div class="col-md-8 col-sm-8">
            <h3>Форма обратной связи:</h3>
            <p>Можете оставить обратную связь, заполнив форму ниже.
            </p>
            <form method="POST" class="post-form">
                <div class="form-group">
                    {% csrf_token %} {{ form|bootstrap }}
                </div>
                <button type="submit" class="save btn btn-default">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}