{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Шубин Данил</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/MainInfo.css' %}"> -->
</head>

<body>
    <header class="content container">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <h1>Шубин Данил</h1>
                <h5>ИТ-специалист широкого профиля</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav class="nav nav-pills nav-justified">
                    <a class="nav-item nav-link" href="#">Основная информация</a>
                    <a class="nav-item nav-link" href="#">Опыт работы</a>
                    <a class="nav-item nav-link" href="#">Образование</a>
                    <a class="nav-item nav-link" href="#">Навыки</a>
                </nav>
            </div>
        </div>
    </header>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h3>Основная информация</h3>
                <p></p>
            </div>
            <div class="col-md-12">
                <h3>Опыт работы</h3>
                <p></p>
            </div>
            <div class="col-md-12">
                <h3>Образование</h3>
                <p></p>
            </div>
            <div class="col-md-12">
                <h3>Навыки</h3>
                <p></p>
            </div>
            <div class="col-md-12">
                <h3></h3>
                <p></p>
            </div>
        </div>
    </div>
</body>

</html>