{% extends 'MainInfo/main_info.html' %} {% load bootstrap %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="../">Личные сведения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../experience/">Опыт работы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../education/">Образование</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active disabled" href="../feedback/">Обратная связь</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="thanks" class="container mt-3 text-center">
        <h1 class="display-4">Спасибо за оставленное сообщение!</h1>
        <br>
        <i class="fa fa-paper-plane-o fa-4x" aria-hidden="true"></i>
</div>
{% endblock content %}