{% extends 'MainInfo/main_info.html' %} 
{% load bootstrap %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="../">Личные сведения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../experience/">Опыт работы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../education/">Образование</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active disabled" href="../feedback/">Обратная связь</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row justify-content-center">
        <h1>Спасибо за оставленный отзыв</h1>
    </div>
</div>
{% endblock content %}